[submodule "pinto"]
	path = pinto
	url = https://github.com/ML4GW/pinto.git
[submodule "hermes"]
	path = hermes
	url = https://github.com/ML4GW/hermes.git
[submodule "ml4gw"]
	path = ml4gw
	url = https://github.com/ML4GW/ml4gw.git
[submodule "typeo"]
	path = typeo
	url = https://github.com/ML4GW/typeo.git
